<!DOCTYPE html>

<html lang="en">
<head>
    <title><%=pageTitle%></title>
    <%- include('includes/bootstrapSetup.ejs') %>
</head>

<body>
  <%- include('includes/navbar.ejs') %>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class='money-logo'><em>the</em>Money</div>
      <p>This is a placeholder front page for the tonksDEV Money application. The layout &amp; style is based on Bootstrap. This version is vanilla, but will be enhanced in the future.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="main-content-frame">
  </div>
</body>
</html>
