table[id="countdown"] {
  margin: 1em 0;
}

table[id="countdown"] th {
  background: #eee;
}

table[id="countdown"] td {
  background: #fff;
}

table[id="countdown"] tr td, table[id="countdown"] tr th   {
  padding: 0.2em 0.5em;
}

.account-category {
  width: 98%;
  margin: 2em auto;
}

#column-account {
  width: 25%;
}

#column-name {
  width: 50%;
}

#column-balance {
  width: 25%;
}


.showborder {
  border: 2px solid #f00;
}

.toolbox-panel {
  background: #fff;
}


@media (min-width: 992px) {
  .toolbox-panel {
    background: #999;
  }
  .toolbox-panel h4 {
    color: #fff;
  }
}
