* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin-top: 50px;
}


h1 {
}

h2 {

}

h3 {

}

.error-message-header {
  margin-top: 1.5em;
  font-weight: bold;
  background: #eee;
  padding: 0.5em;
}

.error-message {
  padding: 0 1em;
}

thead {
  font-weight: bold;
  background: #444;
  color: #fff;
}

.navbar-inverse .money-logo {
  font-family: serif;
  font-size: 2em;
  color: #fff;
}

.navbar-inverse .money-logo em {
  font-family: serif;
  color: #fff;
}

.jumbotron .money-logo {
  font-family: serif;
  font-size: 6em;
  color: #000;
}

.jumbotron .money-logo em {
  font-family: serif;
}


.main-content-frame {
  margin: 70px 10px 10px 10px;
}

.logged-in-username {
  color: #fff;
  margin-right: 1em;
}

.environment-name {
  color: #fa6;
  margin-right: 1em;
}

.grid-col-border {
  border: 1px solid #ccc;
}

.grid-col-border-red {
  border: 1px solid #f00;
}
