* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin-top: 50px;
}


h1 {
}

h2 {

}

h3 {

}

.error-message-header {
  margin-top: 1.5em;
  font-weight: bold;
  background: #eee;
  padding: 0.5em;
}

.error-message {
  padding: 0 1em;
}

form .form-inline-error-message {
  color: #d00;
  display: none;
}

form .form-inline-error-bgcolor {
  background: #fdd;
}

form .allcaps {
  text-transform: uppercase;
}

thead {
  font-weight: bold;
  background: #444;
  color: #fff;
}

.nav > li.navbar-option-hidden {
  display: none;
}

.navbar-inverse .money-logo {
  font-family: serif;
  font-size: 2em;
  color: #fff;
}

.navbar-inverse .money-logo em {
  font-family: serif;
  color: #fff;
}

.jumbotron {
  margin: 0;
}

.jumbotron .money-logo {
  font-family: serif;
  font-size: 6em;
  color: #000;
}

.jumbotron .money-logo em {
  font-family: serif;
}

.jumbotron .jumbo-align-center {
  text-align: center;
}

.jumbotron.jumbo-image-coins {
  background: #DAC09F;
  padding: 0;
}

.jumbotron img.jumbo-100w {
  width: 100%;
}

.jumbotron img.jumbo-50w {
  width: 50%;
}

.main-content-frame {
  margin: 70px 10px 10px 10px;
}

.logged-in-username {
  color: #fff;
  margin-right: 1em;
}

.environment-name {
  color: #fa6;
  margin-right: 1em;
}

.grid-col-border {
  border: 1px solid #ccc;
}

.grid-col-border-red {
  border: 1px solid #f00;
}

.field-format-currency{
  text-align: right;
}

.header-button-row {
  margin: 0.5em 0;
}
