tr[data-placeholder="true"] {
  color: #00d;
}

tr[data-cleared="false"] {
  color: #dd00a5;
}

tr[data-futuredate="true"] {
  color: #888888;
}

select {
  height: 2em;
  display: inline-block;
}

.field-format-dr {
  color: #a00;
}

.field-format-cr {
  color: #0a0;
}

.btn-register {
  margin: 1em 0;
}

.register-date-line {
  border-top: 3px solid #2626b8;
}
