tr[data-placeholder="true"] {
  color: #00d;
}

tr[data-futuredate="true"] {
  color: #888888;
}

.uncleared {
  color: #dd00a5;
}

select {
  height: 2em;
  display: inline-block;
}

.field-format-dr {
  color: #a00;
}

.field-format-cr {
  color: #0a0;
}

.btn-register {
  margin: 1em 0;
}

.register-date-line {
  border-top: 3px solid #2626b8;
}

.conditional-field-narrow {
  display: table-cell;
}

.conditional-field-wide {
  display: none;
}

@media (min-width: 768px) {

  .conditional-field-narrow {
    display: none;
  }

  .conditional-field-wide {
    display: table-cell;
  }

}
