tr[data-placeholder="true"] {
  color: #00d;
}

tr[data-cleared="false"] {
  xxxcolor: #d00;
}

.uncleared {
  color: #dd00a5;
}

.field-format-dr {
  color: #a00;
}

.field-format-cr {
  color: #0a0;
}

.btn-register {
  margin: 1em 0;
}
