* {
}

.input-col {
  float: left;
  padding: 0.2em;
  margin: 0.2em;
  border: 1px solid #0f0;
}

.input-group {
  font-size: 16px;
  padding: 1em;
  /*border: 1px solid #0f0;*/
  height: 7em;
  width: 100%;
}

.input-group-hidden {
  display: none;
}

.input-group > label {
  display: block;
  width: 10em;
  height: 2em;
  /*border: 1px solid #f00;*/
  padding: 0.2em 0em;
}

.input-group > input {
  padding: 0.2em 0.5em;
}

.input-group > label.input-label {
  border: 0;
  height: 2em;
  font-weight: normal;
  /*border: 1px solid #f00;*/
  padding: 0.2em 0em;
}

.input-group > .input-width-wide {
  width: 18em;
}

.input-group > .input-width-medium {
  width: 14em;
}

.input-group > .input-width-narrow {
  width: 8em;
}

.input-group > .input-width-100pc {
  width: 100%;
}

.input-group > .input-width-75pc {
  width: 75%;
}

.input-group > select {
  height: 2em;
  display: inline-block;
}

.input-group > textarea {
  height: 4em;
  padding: 0.2em 0.5em;
}

.input-group > input[type="checkbox"] {
  margin: 0;
  padding: 0;
}

.input-group > button {
  width: 5em;
  margin: 0.2em;
}

.input-group > button.btn-narrow {
  width: 4em;
  height: 2em;
  line-height: 1.2em;
}

.input-group > button.btn-25pc {
  width: 24%;
  line-height: 1.2em;
  margin: 0 0 0.1em 1%;
  font-size:12px;
  padding: 0.6em 0.1em;
}

.data-listing {
  display: block;
  clear: both;
  font-family: "courier new";
  font-size: 8;
}

@media (min-width: 768px) {
  .input-group {
    font-size: 14px;
  }
}
